:root {
  --main-color:rgb(68, 43, 100);

}

* {
  font-family: 'Rockwell', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif';
}

.Rockwell {
  font-family: 'Rockwell', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif';
}

.purp {
  color: rgb(124, 66, 158);
}

.purp-bg {
  background-color: rgb(74, 33, 97);
}

.bg {
  background-color: rgb(190, 149, 214);
}

.footer {
  position: fixed;
  left: auto;
  bottom: 0;
  width: auto;
  background-color: rgba(255, 0, 0, 0);
  color: rgb(0, 0, 0);
  text-align: center;
  background: rgba(114, 43, 152, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  border: 1px solid rgba(114, 43, 152, 0.29);
}


